{% extends "base.html" %}


{% block title %}Home{% endblock %}


{% block body %}
<div class="page-header">
  <h1>Welcome</h1>
</div>

<p class="lead">
  Get notified when someone you know is arrested.
</p>

<h2>Getting Started</h2>

<p>
  <ol>
    <li>Register for an account.</li>
    <li>Tell us when we should notify you about a particular arrest.</li>
    <li>
      A notification will be sent when an arrest matches the
      criteria that you define.
    </li>
  </ol>
</p>

<h2>Screenshots</h2>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Creating a match rule</h3>
      </div>
      <div class="panel-body">
        <img src="http://arrest-notify-assets.s3.amazonaws.com/images/screenshots/rule/create.png" alt="Create match rule form with fields for name, as well as earliest and latest birthdate." class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dashboard</h3>
      </div>
      <div class="panel-body">
        <img src="http://arrest-notify-assets.s3.amazonaws.com/images/screenshots/dashboard.png" alt="View the match rules you created from the dashboard." class="img-responsive center-block">
      </div>
    </div>
  </div>
</div>
{% endblock %}
